name: Jekyll checks

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

           - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"

      - name: Install gems
        run: bundle install

      - name: Build site
        run: bundle exec jekyll build

      - name: Link check (HTMLProofer)
        run: |
          gem install html-proofer
          htmlproofer ./_site \
            --check-html \
            --disable-external \
            --assume-extension \
            --check-favicon
